page-load-fail {

    .scroll-content {
        background-image: url("../assets/images/bg-blue.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        //min-width: 100%;
        //width: 100%;
        //position: fixed;
        //bottom: 0;
        //left: 0;
    }

    .load_fail {
        color: white;
    }

}
