<ion-header>
  <ion-navbar class="night_mode">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="night_mode">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    closeduration="1000"
    pullMin="40"
    pullMax="200"
    pullingIcon="arrow-dropdown"
    pullingText="Arraste para atualizar"
    refreshingSpinner="dots"
    refreshingText="Prepare sua pipoca!">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Insiro uma lista de opções para a seleção dos filmes -->
  <ion-card> 
    <ion-item class="night_mode">
      <ion-label>Selecione seu Feed</ion-label>
      <ion-select [(ngModel)]="feed_category" interface="popover">
        <ion-option value="now_playing" (ionSelect)="ionViewDidLoad(feed_category, 1)">Nos cinemas</ion-option>
        <ion-option value="popular" (ionSelect)="ionViewDidLoad(feed_category, 1)">Populares</ion-option>
        <ion-option value="upcoming" (ionSelect)="ionViewDidLoad(feed_category, 1)">Breve nos cinemas</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  
  <!-- Insiro a diretiva ngFor para varrer toda a lista de filmes e popular os cards-->
  <ion-card *ngFor="let movie of json_list_movies.results">

    <ion-item class="night_mode"> 
      <h2 class="night_mode" (click)="getMovieDetail(movie.id)">{{ movie.title }}</h2>
    </ion-item>

    <!-- Insiro a diretiva ngIf com ng-template para exibir a imagem apenas qdo for encontrada -->
    <div *ngIf="movie.backdrop_path; then validImage else notValidImage"></div>
      <!-- Aqui é necessário utilizar outra diretiva do Angular para permitir -->
      <!-- de variável dentro do src, utilizando a notaçãp [src] -->
      <!-- Com esta notação não deve ser usada a interpolação no formato {{ }} para variáveis -->
      <ng-template #validImage>
        <img [src]="tmdb_image_url + movie.backdrop_path" (click)="getMovieDetail(movie.id)">
      </ng-template>
      <ng-template #notValidImage>
        <img src="assets/images/no-image-landscape.png" (click)="getMovieDetail(movie.id)">
      </ng-template>

  </ion-card>

<!--   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>