// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.has-refresher > .scroll-content {
  background-color: #7e9397;
}
.scroll-content, .ion-content, .content-md {
    background-color: #7e9397;
    //background-image: url("../assets/images/bg-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .load_fail {
      color: white;
  }

  h2.movie_title{
    color: #020225;
    font-weight: bold;
    font-size: 14pt;
  }
  
  h4.intro_slide {
    color: white;
    margin-top: 0px;
  }
  p.intro_slide {
    font-size: 0.8em;
    color: white;
  }
  img.intro_slide {
    width: 280px;
  }
  img.under_construction, img.settings {
    height: 150px;
  }

  p.movie_date {
      color: gray;        
  }
  p.movie_detail_link {
      color: #020225;
      font-weight: bold;
  }
  
  .load_fail, .about {
    color: white;
  }

  ion-card.card.card-md {
    margin-bottom: 20px;
  }
  
  ion-card.card.card-ios {
    margin-bottom: 20px;
  }

  ion-item.movie_title {
    background-color: #eeeeee;
  }

  .toolbar {
    border-bottom-width: 5px;
    box-shadow: 0px 1px 2px #eeeeee;
  }

  // Background das barras de menu
  .toolbar-background {
    background-color: #020225;
    background-image: url("../assets/images/logo.png");
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }

  // Botoes na barra de menu para iOS
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #eeeeee;
    background-color: transparent;
    font-weight: 600;
    font-size: small;
    padding-right: 10px;
    padding-left: 10px;
  }

  // Botoes na barra de menu para Android
  button.disable-hover.bar-button.bar-button-md.bar-button-default.bar-button-default-md {
    color: #eeeeee;
    background-color: transparent;
    font-weight: 600;
    //font-size: small;
    text-transform: none;
    padding-right: 10px;
    padding-left: 10px;
  }

  // Bordas entre os itens de menu no iOS
  .list-ios .item-block .item-inner {
    border-bottom: 0px solid #c8d4d6;;
  }

  .tabbar.show-tabbar {
    background-color: #020225;
  }

  ion-icon::before {
    display: inline-block;
    color: #94a5a8;
  } 

  ion-icon::after {
    display: inline-block;
    color: #94a5a8;
  } 

  button.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #020225;
}

.tabs-md .tab-button[aria-selected=true] {
  text-shadow: 2px 2px #456c73;
  text-decoration-line: overline underline;
}